<div class="container-fluid">
  <div class="row">
    <div class="card mb-3">
      <img class="card-img-top" src="../../../assets/images/logo.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">About us</h4>
        <p class="card-text">NDTech is a small startup company that aims to bring IT solutions and mobile repair work into the 21st century. We are made up of a group of very passionate individuals driven by our desire to make life easier for our customers.</p>
      </div>
      <div class="card-body">
        <a [routerLink]="['/contact']" class="card-link">Contact us</a>
      </div>
    </div>
  </div>
</div>
