<div class="jumbotron jumbotron-fluid text-center">
  <div class='container-fluid'>
    <h2 class="jumbo-head fade-in one">PRICING</h2>
  </div>
</div>

<div class="container tall">
  <div class="row">
    <div class="card mx-auto fade-in two">
        <span class="iphone-logo logo"></span><h4 class="card-title">iPhone</h4>
        <table class="table table-hover pricing-table">
        <thead>
          <tr class="table-dark">
            <th scope="col">Phone</th>
            <th scope="col">Price</th>
            <th scope="col">Repair Time</th>
          </tr>
        </thead>
          <tbody>
            <tr class="table-default">
              <th scope="row">iPhone 8 Plus</th>
              <td>$114.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 8</th>
              <td>$109.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 7 Plus</th>
              <td>$99.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 7</th>
              <td>$89.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 6S Plus</th>
              <td>$84.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 6S</th>
              <td>$79.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 6 Plus</th>
              <td>$74.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 6</th>
              <td>$69.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPhone 5S/SE/5C</th>
              <td>$54.99</td>
              <td>30 minutes</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="card mx-auto fade-in three">
        <span class="android-logo logo"></span><h4 class="card-title">Android</h4>
        <table class="table table-hover pricing-table">
        <thead>
          <tr class="table-dark">
            <th scope="col">Phone</th>
            <th scope="col">Price</th>
            <th scope="col">Repair Time</th>
          </tr>
        </thead>
          <tbody>
            <tr class="table-default">
              <th scope="row">Galaxy S8 Plus</th>
              <td>$289.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Galaxy S8</th>
              <td>$279.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Galaxy S7</th>
              <td>$179.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Galaxy S6</th>
              <td>$169.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Galaxy Note 8</th>
              <td>$349.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Galaxy Note 5</th>
              <td>$214.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">LG G5</th>
              <td>$99.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Google Pixel 2</th>
              <td>$179.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">Google Pixel 2 XL</th>
              <td>$234.99</td>
              <td>30 minutes</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="card mx-auto fade-in four">
        <span class="ipad-logo logo"></span><h4 class="card-title">iPad</h4>
        <table class="table table-hover pricing-table">
        <thead>
          <tr class="table-dark">
            <th scope="col">Phone</th>
            <th scope="col">Price</th>
            <th scope="col">Repair Time</th>
          </tr>
        </thead>
          <tbody>
            <tr class="table-default">
              <th scope="row">iPhone 3/4</th>
              <td>$79.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad 2</th>
              <td>$69.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Air</th>
              <td>$89.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Air 2</th>
              <td>$164.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Mini 1</th>
              <td>$84.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Mini 2</th>
              <td>$89.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Mini 3</th>
              <td>$89.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad Mini 4</th>
              <td>$149.99</td>
              <td>30 minutes</td>
            </tr>
            <tr class="table-default">
              <th scope="row">iPad 5</th>
              <td>$99.99</td>
              <td>30 minutes</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
